.projectCard{
  /* outline: 1px solid black; */
  width: 80vw;
  margin: 5rem auto;
  display:flex;
  justify-content: space-around;
}

.projectCard__textSection{
  max-width: 55ch;
  font-size: 1.2rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-left: 1rem;
}
.projectCard__textSection-title{
  color: #74296c;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  
}
.projectCard__textSection-text{
  font-size: 1.3rem;
  margin-bottom: 3rem;
  
}

.projectCard img{
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 1080px){
  .projectCard{
    width: 95%;
  }

}

@media screen and (max-width: 800px){
  .projectCard{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projectCard img{
    margin-bottom: 2rem;
  }
  .projectCard__textSection{
    margin-left: 0;
  }
  .projectCard__textSection-title{
    text-align:center;
  }
}