.navBar {
  background-color: #2a2d3e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 3rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

#logoImg:hover {
  animation: logoWobble 3s ease-in-out;
}
.navBar ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navBar li {
  display: inline-block;
}
.navBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.logo {
  text-decoration: none;
  color: white;
  display: inline-block;
}
.socialMediaLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
}
.hamburgerMenu {
  display: none;
  margin-right: 1rem;
  position: relative;
  width: 30px;
  height: 25px;
}
.hamburgerMenu span {
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 30px;
  height: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}

.hamburgerMenu span::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.hamburgerMenu span::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.active span::before {
  top: 0;
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}
.active span {
  height: 0px;
}
.active span::after {
  top: 0;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 780px) {
  .hamburgerMenu {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
  }
  .logo {
    position: absolute;
    top: 10px;
    left: 0;
  }

  #socialMediaLinks {
    display: none;
  }
  #responsiveLinks {
    height: 0px;
    transform: translateY(-100%);
    width: 100%;
    margin-top: 3rem;
    transition: all 0.3s ease-in-out;
  }

  .linksBlock {
    transform: translateY(0) !important ;
    height: 200px !important;
  }
  .navBar li {
    display: block;
  }
  .navBar li a {
    display: block;
    text-align: left;
    padding: 14px 16px;
  }
  .navBar li a:hover {
    background-color: #121212;
  }
}

@keyframes logoWobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
