.modal {
  width: 50%;
  height: 20vh;
  background-color: #2a2d3d;
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.modalActive {
  position: sticky;
  animation: modalOpen 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes modalOpen {
  0% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
