.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(
    to bottom,
    #ffffff,
    #f5f5f9,
    #eaecf3,
    #dde3ed,
    #d0dbe7,
    #c4d3e1,
    #b8ccdb,
    #abc5d5,
    #9ebcce,
    #92b3c8,
    #85aac1,
    #78a1bb
  ); */
}

.textContainer {
  margin-top: 2rem;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textSection {
  border: 1px solid #74296c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  margin: 3rem;
  border-radius: 15px;
  background-color: #fff;
  background-image: linear-gradient(
    to right top,
    #404761,
    #434b6a,
    #465074,
    #49547d,
    #4c5987,
    #4e5d90,
    #516199,
    #5365a2,
    #5569ad,
    #586db7,
    #5b71c2,
    #5e75cd
  );
  align-self: stretch;
}

.textSection p {
  margin: 0 auto;
  max-width: 65ch;
  color: white;
  font-size: 1.3rem;
  line-height: 1.4;
}
.navItem:hover {
  background-color: #6b708a;
  color: white;
}
.aboutTitle {
  margin-bottom: 2rem;
  color: White;
}

.btn {
  display: inline-block;
  text-align: center;
  margin: 1rem auto;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #74296c;
  border: none;
}
.btn a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
.btn:hover {
  background-color: #a8489f;
}
@media screen and (max-width: 1500px) {
  .textSection {
    padding: 3rem;
    margin: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .textContainer {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .textContainer {
    margin: 0;
    padding: 0;
  }
  .textSection {
    padding: 1rem;
  }
}
