.homeContainer {
  display: flex;
  flex-direction: column;
}

.column {
  width: 90%;
  min-height: 30vh;
  margin: 0rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 0;
  background-color: #fff;
}
.imgWrapper {
  width: 50%;
  text-align: center;
}
.imgWrapper img {
  max-width: 70%;
  /* max-height  */
}
.columnBlurb {
  display: flex;
  width: 50%;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.columnBlurb h2 {
  font-size: 36px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #74296c;
  text-align: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.columnBlurb p {
  padding: 1rem;
  margin: 1rem;
  max-width: 50ch;
  font-size: 1.2rem;
}
.odd {
  order: 0;
}
@media screen and (max-width: 1280px) {
  .column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .odd {
    order: 1;
  }
  .columnBlurb {
    width: 100%;
  }
  .imgWrapper {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .column {
    width: 100%;
  }
}
