#contactForm {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #2a2d3d;
  padding: 2rem;
  margin-bottom: 4rem;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  margin: 1rem;
}

.form-group Input {
  margin-bottom: 1rem;
}

.form-group textarea {
  height: 100%;
  width: 100%;
}

.formInput:nth-of-type(3) {
  margin-bottom: 0;
}

.form-wrapper {
  display: flex;
  justify-content: center;
}

#contactSubmitButton {
  margin: 1rem auto 0.5rem auto;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: block;
  border: none;
  background-color: #74296c;
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
}

#contactSubmitButton:hover {
  background-color: #a8489f;
}

.form-wrapper label {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.contactWrapper {
  position: relative;
  margin: 3rem;
}
