.contactWrapper {
  position: relative;
  background-color: white;
  padding: 1rem;
}

.contactContainer {
  display: flex;
  justify-content: center;
  width: 65%;
  margin: 5rem auto;
}
.contactBlurb {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 0px 15px 15px 0px;
}

.contactBlurb img {
  max-width: 100%;
}
#contactForm {
  min-width: 50%;
  padding: 2rem;
  border-radius: 15px 0px 0px 15px;
  background-image: linear-gradient(
    to right top,
    #404761,
    #434b6a,
    #465074,
    #49547d,
    #4c5987,
    #4e5d90,
    #516199,
    #5365a2,
    #5569ad,
    #586db7,
    #5b71c2,
    #5e75cd
  );
}

.contactTitle {
  font-size: 2rem;
  font-weight: bold;
  color: #74296c;
  text-align: center;
  margin-top: 2rem;
}

.contactText {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}
.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin: 0rem 0rem 2rem 0rem;
  /* width: 50%; */
}

.form-group Input {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
  padding-left: 0.5rem;
}

.form-group textarea {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif;
  padding: 0.5rem;
}

.formInput:nth-of-type(3) {
  margin-bottom: 0;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

#contactSubmitButton {
  margin: 1rem auto 0.5rem auto;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: block;
  border: none;
  background-color: #74296c;
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
}

#contactSubmitButton:hover {
  background-color: #a8489f;
}

.form-wrapper label {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

#formErrors {
  text-align: center;
  background-color: #f2dede;
  color: red;
  font-size: 1.2rem;
  width: 100%;
}
/* fake field for the bots */
#the-great-filter,
#testThis,
#testThisLabel {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0px none;
  padding: 0px;
}
@media screen and (max-width: 1080px) {
  .contactContainer {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .form-wrapper {
    flex-direction: column;
    gap: 0rem;
  }

  .contactWrapper {
    padding: 0;
  }
  .form-group {
    width: 100%;
  }

  #contactForm {
    order: 2;
    border-radius: 0;
  }
  .contactContainer {
    width: 100%;
    gap: 3rem;
    flex-direction: column;
  }

  .contactBlurb {
    width: 100%;
    border: none;
  }
}
